@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');


html{
    scroll-behavior: smooth;
}
.pulse{
    animation: pulse infinite 2s ease;
}
@keyframes pulse {
    0%{
        transform: scale(1);
    }   
    50%{
        transform: scale(1.02);
    }
    100%{
        transform: scale(1);
    }
    
}
.pulse:hover>.desc{
    opacity: 0;
    color: aqua;
}
.desc{
    font-family:'Yusei Magic', serif;
    font-weight: 500;
    opacity: 1;
}
.tooltip {

    display: inline-block;
    border-bottom: 1px dotted black; 
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    color: #fff;
    text-align: left;
    padding: 20px;
    position: absolute;
    z-index: 1;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
body{
    background: black;
}
html::-webkit-scrollbar{
    width: 5px;
}
html::-webkit-scrollbar-track{
    width: 5px;
    background-color: rgba(0, 0, 0, 0.753);
}
html::-webkit-scrollbar-thumb{
    background-color: rgb(102, 0, 102);
}